
<div ng-controller="LoginController">
	<span ng-show="user">
	    {{user.email}} | <a href="#" ng-click="logout()">Logout</a>
	</span>

	<span ng-hide="user">
		<a href="#/login">Login</a> | <a href="#/signup">Signup</a> <br/>
	</span>
</div>

<div class="grid12">
  <h1>Stories</h1>
  <ul>
      <li ng-repeat="story in stories"><a href="#/story/{{ story.$id }}"> {{ story.storyDetails }} </a> <button ng-click="removeStory(story)">Remove</button></li>
  </ul>
  <div ng-show="user">
	  <input ng-model="storyDetails">
	  <button ng-click="addStory()">Add story</button>
  </div>
</div>
