<div ng-controller="LoginController">
	<span ng-show="user">
	    {{user.email}} | <a href="#" ng-click="logout()">Logout</a>
	</span>

	<span ng-hide="user">
		<a href="#/login">Login</a> | <a href="#/signup">Signup</a> <br/>
	</span>
</div>

<div class="grid12">
  <h1>Stories</h1>
  <h2>You clicked on story {{ storyId }}: {{ storyDetails }}</h2>

  <ul>
      <li ng-repeat="step in storySteps">
	      {{ step.name }}
	  	  <img ng-src="{{step.imgSrc}}"/>
	        <!-- As per http://stackoverflow.com/questions/16631702/file-pick-with-angular-js angular doesn't handle onchange events just yet so we need to roll something of a hack -->
	      <input ng-model="step.photo" onchange="angular.element(this).scope().file_changed(this, angular.element(this).scope().step)" type="file" accept="image/*" />
	      <button ng-click="removeStep(step)">Remove</button>
  	  </li>
  </ul>

  <input ng-model="stepName"> <button ng-click="addStep()">Add Step</button>
</div>
